/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html{
    font-family: 'Roboto', sans-serif;
}
                 /* normalmente non si settano le altezza in un sito classico, questa però è una web app */
main{       /*meglio non toccare il main e aggiungere un div wrapper che contenga il tutto */
    width: 100%;       
    height: 100vh;
}

img{
    max-width: 100%;
    display: block;  /* per non far apparire la linea sotto l'immagine nel div screen */
}

.flex{
    display: flex;
}

a, p{
    color: white;
    text-decoration: none;
}

.angle-up{
    padding: 0.8em 0px;
    font-size: small;
}

/* SCREEN GALLERY */

.screen-gallery{
    width: 100%;
    height: calc(100% - 60px);
    background-color: black;
    position: relative;
    
}

.row{
    width: 90%;
    margin: 0 auto;
    padding: 4.5em 0 1em;
    /* max-width: 1200px;  */
    /* max-height: 100%;  quando streccio la row non diminuisce l'altezza essendo la minima del 100%, rispetto alla galleria, con max-height invece la griglia non aumentava. */
    height: 100%; 
    flex-wrap: wrap;
    gap:  8px 5px;
    justify-content: space-between;
    overflow: auto;

}

.screen{
    color: white;
    position: relative;
    min-width: 50px;
    width: calc(100% / 7 - 5px);     /*ci stava bene un div "col" cui dare altezza così che gli "screen" non avessero altre prorietà */


}

.name{
    position: absolute;
    left: 0;
    bottom: 1.2em;
    background-color: rgba(240, 255, 255, 0.646);
    max-height: 50%;
}

/* SPEAKER VIEW */

.view{
    position: absolute;
    top: 10px;
    right: 10px;  /* px va bene? */
}


.maximize, .speaker-view{
    background-color: rgba(128, 128, 128, 0.55);
    border-radius: 10px;
    padding: .3em;
    color: white;
}

/* TOOLBAR */

.toolbar{
    width: 100%;
    height: 60px;
    background-color: rgb(68, 66, 66);
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    
}

.input{
gap: 0.7em;
}

.actions{
    justify-content: space-between;
    gap: 0.7em
}

.share i{
    color: green;
}

.exit{
    color: red;
    background-color: grey;
    line-height: 60px;
    min-width: 10em ;
    cursor: pointer;
}

.toolbar div{
    text-align: center;
}